.skill {
  padding-top: 80px;
  /* padding-bottom: 240px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* min-height: 100vh; */
}
.skills_container {
  display: flex;
  flex-wrap: wrap;
  background-color: #d9e4f5;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 30px;
  border-radius: 5px;
  max-width: 850px;
  text-align: justify;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset; */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.section_title {
  align-items: center;
  color: #142d4c;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 35px;
}
.skills {
  display: flexbox;
  font-size: bold;
  font-weight: bold;
  color: whitesmoke;
  /* color: #5e503f; */
  background-color: #2884b8;
  width: 90px;
  height: 60px;
  padding: 5px 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.skills_js {
  display: flexbox;
  width: 90px;
  height: 60px;
  font-size: bold;
  font-weight: bold;
  color: whitesmoke;
  /* color: #5e503f; */
  background-color: #2884b8;
  padding-bottom: 5px 0px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.section_title:hover {
  color: #2884b8;
  background-color: whitesmoke;
  cursor: pointer;
}
@media screen and (min-width: 400px) {
  .skill {
    padding-top: 200px;
    padding-bottom: 260px;
  }
}
@media screen and (min-width: 768px) {
  .skill {
    padding-top: 270px;
  }
}
@media screen and (min-width: 1000px) {
  .skill {
    padding-top: 100px;
    padding-bottom: 140px;
  }
}
