.about {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0px auto; */
  padding-top: 100px;
}
.about_container {
  /* height: 100%; */
  border-radius: 5px;
  background-color: #d9e4f5;
  max-width: 850px;
  padding: 40px;
  color: #142d4c;
  text-align: justify;
  /* border: 1px solid #b3b3b3; */
}
.about_container_title {
  color: #142d4c;
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}
.about_container_title:hover {
  color: #2884b8;
  background-color: whitesmoke;
  cursor: pointer;
}
.about_containers_title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}
.about_container_lineBreak {
  margin: 30px 0;
}
.about_container_info_title {
  margin-bottom: 50px;
}
.about_container_info {
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 400px) and (max-width: 600) {
  .about {
    padding-top: 150px;
  }
}
/* @media screen and (min-width: 820px) {
  .about {
    padding-bottom: 200px;
  }
} */
@media screen and (min-width: 1000px) {
  .about {
    padding-bottom: 140px;
  }
}
