.dark {
  /* background-color: #b1bfd8; */
  background-color: linear-gradient(315deg, #b1bfd8 0%, #6f99e6 74%);
  color: whitesmoke;
}
.light {
  background-color: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  color: #142d4c;
}
