/* Footer */
.footer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin: auto;
  height: 40px;
  background-color: #2884b8;
  transition: 0.3s;
}

.footer_list_item {
  list-style: none;
  color: whitesmoke;
}
.footer_list_item_link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  gap: 10px;
}

.footer_list_item_link:hover {
  color: #4d4d4d;
  opacity: 0.8;
}
.footer_list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
